name: dev

on: [pull_request]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    services:
      localstack:
        image: localstack/localstack:s3-latest
        ports:
          - 4566:4566
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun typecheck
      - run: bun test
      - run: bun run build
